body {
  background-color: black;
  font-family: 'Lato', arial, sans-serif;
  font-size: 16px;
  color: white;
}

/* Nav Bar */
ul {
  list-style-type: none;
}

/* Header */
header {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
}
