html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Lato', arial, sans-serif;
  font-size: 16px;
  color: white;
}
section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}
h2 {
  text-align: center;
}
/* Heading CTA */
.heading-cta {
  color: #D67976;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
  background-color: #404040;
  font-color: #D67976;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: top 0.3s;
}

.hidden-nav {
  top: -60px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 15px
}


/* Header */
.header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contact Form*/
.contact-form {
  text-align: center;
}
/* Footer */
footer {
  text-align: center;
  background-color: #404040;
  padding: 20px 0;
}

.return-home {
  color: #D67976;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.social-media {
  display: inline-flex;
  justiry-content: center;
  gap: 15px;
}

.social-media i {
  font-size: 2rem;
  color: white;
  transition: color 0.3s ease;
}

.social-media i:hover {
  color: #D67976;
}
